<div id="vcomments" class="vcomments"></div>
<script>
  new Valine({
    el: '#vcomments' ,
    appId: 'Fe5TNm20tHsqA6hpF5LHADO3-gzGzoHsz',
    appKey: 'nHYuy325r0l9GBVGIm2iCr0y',
    notify:true, 
    // verify:false, 
    avatar:'mp', 
    placeholder: '耶嘿康忙北鼻~'
  })
</script>