

<div id="ads-left" class="ads-left">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- left -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-6846579683645896"
        data-ad-slot="9201612849"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>